# Other files and folders
.settings/

# development
/env
/.vscode
/.idea


app.yaml
.env
# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.pyc
*.bat

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
